@import './styles/colors.module.scss';
@import './styles/fonts.module.scss';

* {
  margin: 0;
}

body {
  width: 100vw;
  font-family: $body-font;
  box-sizing: border-box;
	background-color: $c-background;
  flex-grow: 1;
}

.body_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  border-right: 1.5rem solid $c-background;
  border-left: 1.5rem solid $c-background;
  border-bottom: 3rem solid $c-background;
}
.double_block {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes gradient {
  100% {
    background-size: 4000px 1000px;
  }
}

// @media (width > 500px) {
//   body {
//     padding: 0;
//   }
// }