@import './styles/colors.module.scss';
@import './styles/fonts.module.scss';

* {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes gradient {
  100% {
    background-size: 4000px 1000px;
  }
}

// @media (width > 500px) {
//   body {
//     padding: 0;
//   }
// }
