@import './styles/colors.module.scss';
@import './styles/fonts.module.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  /* height: 100%; */
  margin: 1rem;
	box-sizing: border-box;
	background-color: $c-background;
}

@keyframes gradient {
  100% {
    background-size: 4000px 1000px;
  }
}

/* body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 24px;
  background-image: url("images/bg-wave.svg");
  background-size: 2000px 1000px;
  background-position: -500px 0;
  color: #f9f9f9;
  animation: gradient 40s infinite alternate linear;
} */

@media (width > 500px) {
  body {
    padding: 0;
  }
}
