@import '../colors.module.scss';
@import '../fonts.module.scss';

* {
  box-sizing: border-box;
}

.bullet_wrapper {
  margin: 0 2rem;

  h2 {
    margin: 4rem 0;
  }
}

.bullet_container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    opacity: 0;
    // transform: scale(0);
    // display: none;
    height: 0;
  }
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bullet_element {
  text-align: center;
  width: 150px;
  height: auto;
  padding: 1rem;

  li:first-child {
    margin-bottom: 1rem;
  }

  span {
    color: $c-text-second;
  }
}

.bullet_container > div:hover {
  z-index: 10;
  background-color: $c-tertiary;
  border-radius: 10px;
  width: 260px;
  height: auto;
  // transition: width 300ms ease-in-out;

  ul {
    flex-direction: column-reverse;
  }

  li:first-child {
    font-size: 1.5rem;
    font-weight: 700;
  }
  li {
    margin-bottom: 1rem;
  }

  p {
    display: block;
    opacity: 1;
    transition: opacity 1ms ease-in;
    // transition-delay: 150ms;
    transform: scale(1);
    height: auto;
  }
}
.list_wrapper {
  padding: 1rem 2.5rem 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  ul {
    width: 100%;
  }
  li {
    background-color: $c-gray-100;
    display: block;
    margin-top: .7rem;
    // list-style-position:inside;
    // list-style-type: "\1F44D";
    padding: 1rem;
  }
  & > ul:first-of-type {
    margin-right: 1rem;
  }
}
