@import '../colors.module.scss';
@import '../fonts.module.scss';

* {
  box-sizing: border-box;
}

.bullet_wrapper {
  width: 100%;
  margin: 0 2rem;

  h2 {
    margin: 4rem 0;
  }
}

.list_wrapper {
  padding: 1rem 2.5rem 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  ul {
    width: 100%;
  }
  li {
    background-color: $c-gray-100;
    display: block;
    margin-top: .7rem;
    // list-style-position:inside;
    // list-style-type: "\1F44D";
    padding: 1rem;
  }
  & > ul:first-of-type {
    margin-right: 1rem;
  }
}
