@import '../colors.module.scss';
@import '../fonts.module.scss';

a {
  &:active,
  &:focus,
  &:hover {
    color: $c-contrast;
    font-weight: 700;
  }
  color: $c-text;
}

.brand_name {
  color: $c-text;
  text-transform: none;
  display: flex;
  align-items: center;
}

.brand_name img {
  height: 40px;
  margin-right: 1rem;
}

.brand_name h1 {
  font-size: 1.8rem;
}

.legal_section p, .legal_section a {
  font-size: .7rem;
  color: $c-text-second;
  padding-right: 15px;
  margin: 2rem 0;
}

.footer_wrapper {
  color: $c-text;
  font-size: $b-font-size;
  font-weight: $b-font-weight;
  background-color: $c-background;
  height: 100%;
  padding: 1.5rem 2rem 1rem;
  // margin-bottom: 1rem;
  margin-top: auto;
}

.link_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1.8rem;
  line-height: 1.9rem;
}

.section_container {
  max-width: 1200px;
  display: grid;
  justify-content: start;
  justify-items: start;
	grid-gap: 2.5rem;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 4rem;
  h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }
 }

 .social {
   width: 25%;
   color: $c-text-second;
 }
/* Screen larger than 550px? 2 column */
@media (min-width: 550px) {
  .section_container { grid-template-columns: repeat(2, 1fr); }
  .social { width: 25%; }
}

/* Screen larger than 750px? 3 columns */
@media (min-width: 750px) {
  .section_container { grid-template-columns: repeat(3, 1fr); }
  .social { width: 25%; }
}

.social i {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.footer_wrapper h4 {
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}
.address {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  p {
    font-weight: 600;
    font-size: .8rem;
  }
}
