@import '../colors.module.scss';
@import '../fonts.module.scss';

* {
  box-sizing: border-box;
}

.slider-wrapper {
  margin: 2rem 2.5rem;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  background-color: $c-background;
  // padding: 5vh;
}

.slider {
  width: 500px;
  text-align: center;
  overflow: hidden;
}
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 500px;
  height: 375px;
  margin-right: 50px;
  border-radius: 10px;
  background: $c-background;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: $c-background;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
  color: $c-primary;
}
.slider > a:focus {
  background: $c-background;
}
