@import '../colors.module.scss';
@import '../fonts.module.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

.block_wrapper {
  margin: 2.5rem 1rem;
}

.block_wrapper h2 {
  margin-bottom: 1rem;
}

.block_wrapper p {
  margin: 0 2.5rem;
}

h2 span {
  color: $c-primary;
  display: block;
}
