@import '../colors.module.scss';
@import '../fonts.module.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

.block_wrapper {
  margin: 2.5rem 1rem;
  display: flex;
  // position: relative;
  height: min-content;
}

.text_wrapper {
  // position: absolute;
}
.text_wrapper h2 {
  margin-bottom: 3rem;
  // max-width: 60%;
}

.block_wrapper img {
  // position: absolute;
  // right: 0;
  min-width: 320px;
}

h2 span {
  color: $c-primary;
  display: block;
}
