@import '../colors.module.scss';
@import '../fonts.module.scss';

* {
  box-sizing: border-box;
}

.nav_wrapper {
  width: 100%;
  color: $c-text;
}

.user_switch {
  text-align: right;
  margin: 1rem;
  color: $c-text-second;
  a {
    color: $c-text-second;
  }
  a:hover, a:active {
    color: $c-text;
    font-weight: 600;
  }
}

.navigation{
  height: 75px;
  background-color: $c-tertiary;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

// .navigation a {
//   text-transform: uppercase;
//   font-size: .7rem;
//   color: $c-text;
// }

.login {
  margin-right: 1rem;
  // padding-bottom: 8px;
}

.user_comp {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.user_comp .login_link {
  margin-right: 1rem;
  margin-left: 1.5rem;
  color: $c-contrast;
  }

.user_comp .login_link:hover {
  color: $c-contrast-warn;
  font-weight: 600;
  }

.brand_name {
  color: $c-text;
  margin-left: 1rem;
  text-transform: none;
  display: flex;
  align-items: center;
}

.brand_name img {
  height: 40px;
  margin: 0 1rem;
}

.brand_name h1 {
  font-size: 1.8rem;
}
.navigation_menu {
  margin-left: auto;
  // display: flex;
}

.navigation_menu ul {
  // display: flex;
  padding: 0;
  margin-right: 1rem;
}
.navigation_menu li {
  // removes default disc bullet for li tags and applies margin to left & right side
  list-style-type: none;
}

.navigation_menu li a {
  // increases the surface area of the anchor tag to span more than just the anchor text
  text-decoration: none;
  padding: 0 1rem 15px;
  display: block;
  width: 100%;
}
.navigation_menu li a:hover {
  border-bottom: 3px solid $c-contrast;
  color: $c-contrast;
  font-weight: 700;
  padding-bottom: 12px;
}
.navigation_menu li a:active {
  color: $c-background;
  font-weight: 700;
}

.hamburger {
  // removes default border on button element
  border: 0;
  height: 50px;
  width: 50px;
  padding: 0.5rem;
  // border-radius: 4px;
  background-color: $c-tertiary;
  color: $c-text;
  cursor: pointer;
  // transition: background-color 0.2s ease-in-out;
// positions the icon to the right and center aligns it vertically
  position: absolute;
  top: 50%;
  right: .5rem;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  color: $c-tertiary;
}

@media screen and (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .navigation_menu {
    display: none;
  }
  .navigation_expanded ul {
    // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)
    position: absolute;
    top: 80px;
    right: 1rem;
    // stacks the li tags vertically
    flex-direction: column;
   // makes menu span full height and width
    width: 200px;
    // height: calc(100vh - 77px);
    background-color: $c-gray-50;
    // display: none;
  }
  .navigation_expanded li {
    // centers link text and strips off margin
    padding: .5rem 1rem;
    margin: 0;
  }
  .navigation_expanded li a {
    color: $c-text-second;
    text-transform: uppercase;
    // increases the surface area of the anchor tag to span the full width of the menu
    width: 100%;
    // padding: 1.5rem 0;
  }
  .navigation_expanded li:hover {
    background-color: $c-gray-100;
    // border-bottom: 3px solid $c-contrast;
  }
  .navigation_expanded li a:hover {
    color: $c-contrast;
    font-weight: 700;
    border-bottom: 0;
  }
  .navigation_expanded li:hover a {
    color: $c-contrast;
    font-weight: 700;
  }
  .navigation_expanded ul {
    display: block;
  }
  .user_comp .login_link {
    margin-right: 75px;
  }
}
