@import '../colors.module.scss';
@import '../fonts.module.scss';

.ratings_component_wrapper {
  margin: 2rem 1rem 3rem;
  padding: 2rem 0;

  h2 {
    margin: 4rem 0;
  }
  .button_container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
}

.ratings_carousel {
  border: 1px solid red;
}
