@import '../colors.module.scss';
@import '../fonts.module.scss';

$slide-count: 4;
$slide-width: 15rem;

// html {
//   box-sizing: border-box;
//   font-size: 10px;
//   @media (max-width: 425px) {
//     font-size: 8px;
//   }
// }

// body {
//   font-size: 1rem;
//   margin: 0;
//   font-family: Arial, Helvetica, sans-serif;
// }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.carousel__wrap {
    // TODO: REMOVE RED BORDER!
    border: 1px solid green;
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 7rem;
}

.carousel__inner {
    height: 22rem;
    position: relative;
    width: calc(#{$slide-width * 3});
}

.carousel__container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    // TODO: REMOVE RED BORDER!
    border: 1px solid red;
}

.carousel__slide-list {
    height: 100%;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);
    width: calc(#{($slide-count + 0.5) * $slide-width * 2});
}

.carousel__slide-item {
    display: inline-block;
    height: $slide-width;
    margin: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.3s;
    width: $slide-width;
    // TODO: REMOVE RED BORDER!
    border: 1px solid orange;
}

// .carousel__slide-item-img-link {
//     cursor: zoom-in;
//     display: flex;
//     height: 100%;
//     overflow: hidden;
//     position: relative;
//     width: 100%;

//     // img {
//     //     height: 100%;
//     //     object-fit: cover;
//     //     transition: all 0.5s ease;
//     //     width: 100%;
//     // }

//     &::after {
//         align-items: center;
//         background: rgba(black, 0.5);
//         color: white;
//         content: 'read more';
//         display: flex;
//         height: 100%;
//         justify-content: center;
//         opacity: 0;
//         position: absolute;
//         transition: all 0.5s ease;
//         width: 100%;
//     }

//     &:hover {
//         &::after {
//             opacity: 1;
//         }

//         img {
//             transform: scale(1.3);
//         }
//     }
// }

.carousel-slide-item__body {
    // bottom: -2.5rem;
    top: 0;
    height: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      margin-bottom: 1rem;
      letter-spacing: .6rem;
      color: $c-primary;
    }
    h3, h5 {
      color: $c-primary;
      margin: 0;
      padding: 0;
    }

    h5 {
      margin: 0;
      padding: 0;
    }

    p {
        font-size: 1rem;
        margin: 0.7rem 0 0;
    }
}

.carousel__btn {
    align-items: center;
    background: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
        left: -20rem;
    }

    &--next {
        right: -20rem;
    }
}

.carousel__btn-arrow {
    border: solid $c-gray-500;
    border-width: 0 0.4rem 0.4rem 0;
    height: 3rem;
    padding: 3px;
    width: 3rem;

    &--left {
        transform: rotate(135deg);
    }

    &--right {
        transform: rotate(-45deg);
    }
}

.carousel__dots {
    display: inline-block;
    left: 50%;
    margin-top: 1rem;
    position: absolute;
    transform: translateX(-50%);

    .dot {
        background: $c-tertiary;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: 2rem;
        margin: 0 0.3rem;
        outline: none;
        transform: scale(0.5);
        width: 2rem;

        &.active {
            background: $c-primary;
        }
    }
}

.empty_stars > i {
  color: $c-tertiary;
}
