@import '../styles/colors.module.scss';
@import '../styles/fonts.module.scss';

a {
  &:active,
  &:focus,
  &:hover {
    color: $c-contrast;
  }
  color: $c-background;
}
// classes don't work
.legal_section a {
  padding-right: 15px;
}

.footer_wrapper {
  color: $c-background;
  font-size: $b-font-size;
  line-height: $b-line-height;
  font-weight: $b-font-weight;
  background-color: $c-secondary;
  height: 100%;
  padding: .1rem 1rem 0.3rem;
  margin-top: 1rem;
}


.link_wrapper {
  display: flex;
  justify-content: space-between;
  // flex-grow: 1;
}

.section_container {
  max-width: 1200px;
  display: grid;
  justify-content: start;
  justify-items: start;
	grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
 }

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .section_container { grid-template-columns: repeat(3, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .section_container { grid-template-columns: repeat(4, 1fr); }
}

.social {
  width: 25%;
  // padding-top: .5rem;
  font-size: 1.2rem;
  line-height: 1.35rem;
  margin-top: 0;
  padding-top: 0;
}

.footer_wrapper h4 {
  // line-height: 0;
  margin: 0 0 0.2rem;
}

ul {
  list-style: none;
  padding: 0;
}

.address {
  padding-bottom: 1rem;
}

// .legal_section {
//   color: turquoise;
// }
