@import './fonts.module.scss';
@import './colors.module.scss';

* {
  margin: 0;
  font-size: $b-font-size;
}

body {
  font-family: $body-font;
  box-sizing: border-box;
	background-color: $c-gray-300;
  flex-grow: 1;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.content_wrapper {
  min-height: 100vh;
}

.pages_wrapper {
  // max-width: 1000px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // margin: 0 auto;
}

.double_block {
  display: flex;
}
