@import './fonts.module.scss';
@import './colors.module.scss';
@import '../styles/buttons.module.scss';

* {
  margin: 0;
  // font-size: $b-font-size;
}

body {
  font-family: $body-font;
  box-sizing: border-box;
  background-color: $c-background;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.content_wrapper {
  background-color: red;
  min-height: 100vh;
}

.pages_wrapper {
  // max-width: 1000px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // margin: 0 auto;
}

// Signup.js styles 

.signup-body {
  display: flex;
  direction: column;
  flex-wrap: wrap;
}

.signup-body h1 {
  font-size: 36px;
}

.signup-body h1 span {
  color: $c-primary;
}

.signup-form-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.form-img {
  flex-basis: 50%;
}

.form-img img {
  max-width: 100%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  background-color: $c-tertiary ;
  border-radius: 10px;
  margin: 20px 0px 20px 0px;
  padding: 20px 20px;
  justify-content: space-between;
}

.signup-form button {
  width: 100px;
  border: 0;
}

.signup-form i {
  position: absolute;
}



.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  color: rgba(0, 16, 44, 0.97);
  min-width: 50px;
  text-align: center;
}

.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="date"],
.signup-form input[type="number"],
.signup-form select {
  width: 100%;
  padding: 10px;
  text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
  
}

.signup-form p,
.signup-form span {
  color: gray;
  font-size: 12px;
}