@import '../styles/colors.module.scss';
@import '../styles/fonts.module.scss';

.btn_flat {
  color: $c-text-contrast;
  padding: 6px 18px;
  border-radius: 14px;
  background: $c-contrast;
  transition: background 0.3s ease;
  white-space: nowrap;
  cursor: pointer;
  height: fit-content;
}

.btn_flat:hover {
  background: $c-contrast-warn-hover;
  color: $c-text-contrast;
  font-weight: 500;
}

.btn_flat_light {
  color: $c-text;
  padding: 6px 18px;
  border-radius: 4px;
  background: $c-secondary;
  transition: background 0.3s ease;
  white-space: nowrap;
  cursor: pointer;
  height: fit-content;
}

.btn_flat_light:hover {
  background: $c-tertiary;
  color: $c-text-second;
}
.btn_gradient {
  color: $c-background;
  padding: 6px 18px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient($c-tertiary, $c-secondary);
  transition: background 0.3s ease;
  border: 1px solid $c-secondary;
  white-space: nowrap;
  cursor: pointer;
}

.btn_gradient:hover {
  background: linear-gradient($c-secondary, $c-primary);
  color: white;
}
