// Font for headers etc. is:'Sofia Sans'
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap');
// Font for text blocks etc. is: 'Lato'
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap');

$header-font: 'Sofia Sans', sans-serif;
$body-font: 'Lato', 'Calibri', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}


$b-font-size: .8rem;
$b-font-weight: 300;
$b-line-height: 1.1rem;

h1, h6 {
  font-weight: 900;
}

h2, h5 {
  font-weight: 800;
}

h3, h4 {
  font-weight: 700;
}

h2, h4, h5 {
  font-style: italic;
}

h1 {
  font-size: 2.25rem;
}

h2 {

  font-size: 1.85rem;
  font-style: italic;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.75rem;
}

h1, h2, h3 {
  line-height: 2.5rem;
}


h4, h5, h6 {
  line-height: 1.25rem;
}

strong {
  font-weight: 800;
}

em {
  font-style: italic;
}
